body{
    background-color: #1a1a33;

    width: 50%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    text-align: center;
    font-family: "Trebuchet MS", serif;
    color: #ecfdff;
}


h1 {
    font-size: 72px;
    color: #b2fcff;
    transition: color 0.5s ease-in-out;
}

h4 {
    font-size: 24px;
}

.btn {
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
}

.clicked {
    color: #b2fcff;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}
